<%#= javascript_pack_tag 'post/show' %>

<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= link_to(user_path(@user)) do %>
          <img src="<%= "/user_images/#{@user.image_name}" %>" style="margin-left:-15px;">
        <% end %>
        <%= link_to(@user.name, user_path(@user)) %>
      </div>
      <p>
        <%= simple_format(@post.content) %>
      </p>
      <div class="post-time">
        <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
      </div>
      <div class="like_button">
        <%= render 'likes/like' %>
      </div>

      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%#= link_to("編集", edit_post_path(@post)) %>
          <%= link_to("削除", post_path(@post), method: :delete) %>
        </div>
      <% end %>
    </div>
  </div>
</div>